body {
    background-color: bisque;
 }
 ul {
    border: 10px solid;
    border-color: black;
 }
 li {
    padding: 10px;
    display: inline;
 }
 img {
    float: right;
 }
 h1 {
    color: white;
    text-align: center;
 }